# data
data/DNA_seqs/*
data/DNA_feats/*
weights/*
data/test_data/*
data/test_data.rar

enformer/*
!enformer/.gitkeep
!data/DNA_seqs/.gitkeep
!data/DNA_feats/.gitkeep
!data/test_data/.gitkeep
!weights/.gitkeep

# Python cache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
